.menu__inner {
  @apply flex flex-col items-center p-4 pt-8 pb-1;
}

.menu__inner > nav {
  @apply flex flex-row gap-4;
}

.menu__outer {
  @apply w-full flex justify-center overflow-hidden px-4;
}

.menu__outer > * {
  transform: translateY(-1rem);
  @apply w-max;
}

.menu__chevron  {
  @apply p-2 box-content cursor-pointer;
}

.menu--closed nav {
  display: none;
}

.menu--closed .menu__chevron {
  transform: rotate(180deg);
}
