:root {
  --color--primary-light: #ded3ff;
  --color--primary: #5f2eea;
  --color--primary-dark: #2a00a2;
  --color--greyscale-line: #d6d8e7;
  --color--greyscale-offWhite: #fcfcfc;
  --color--greyscale-inputBackground: #eff0f6;
  --color--greyscale-background: #f7f7fc;
  --color--greyscale-placeholder: #a0a3bd;
  --color--greyscale-label: #6e7191;
  --color--greyscale-body: #4e4b66;
  --color--greyscale-titleActive: #14142b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../components/Button/Button.css");
@import url("../components/Card/Card.css");
@import url("../components/PlayCard/PlayCard.css");
@import url("../components/Menu/Menu.css");
@import url("../components/Modal/Modal.css");
@import url("../components/Gameboard/Gameboard.css");
@import url("../components/CardHiCF/CardHiCF.css");
@import url("../components/Login/Login.css");
@import url("../components/Table/Table.css");
@import url("../components/OnlinePlayers/OnlinePlayers.css");
@import url("../components/Status/Status.css");
@import url("./scrollable.css");
