:root {
  --color--primary-light: #ded3ff;
  --color--primary: #5f2eea;
  --color--primary-dark: #2a00a2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../components/Button/Button.css");
@import url("../components/Card/Card.css");
