.modal {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  @apply top-0 left-0 right-0 bottom-0 fixed;
}

.modal__content {
  @apply relative top-0 left-0 z-50 flex justify-center items-center w-full h-full;
}

.modal > * {
  animation: slideIn;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

@keyframes slideIn {
  from {
    transform: translateY(3rem);
  }
  to {
    transform: translateY(0);
  }
}
